/* line 4, /home/wolfep15/Projects/WCFB/src/style/style.scss */
body {
  font: 100% Helvetica, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=style.css.map */

.banner {
	background-color: #DCDCDC;
	height: 150px;
	width: 100%;
}

.banner img {
	margin-left: 15px;
}

/* CSS for Login/Logout page */
.log_btn {
	background: none;
	border-color:#cc0000;
	color: #cc0000;
	font-size: 30pt;
	padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
	margin-left: 10%;
	margin-right:10%;
    width: 200px;
    cursor: pointer;
    text-align: center;
    outline:none;
}

#log_title{
    text-align: center;
    color: #cc0000;
	font-weight: bold;
	font-size: 30pt;

}

#log_button_container {
	text-align: center;
	margin-top: 12%;
    align-items: center;
}
