/* General/Site-wide CSS */
* { box-sizing: border-box; }


@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Roboto')
}

body {
  font: 'Roboto', sans-serif;
  /* menu: 'Roboto', sans-serif; */
  color: #333;
  margin: 0;
  padding: 0;
  background-color: #981e32;
}
.grey_container{
    position: relative;
    border-radius: 3%;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 52.4%;
    height: 70vh;
    left: 23.8%;
    box-shadow: 15px 15px 20px 0 rgba(0, 0, 0, 0.27);
    background-color: #ebebeb;
    margin-bottom: 20vh;
}

.banner {
	background-color: #981e32;
	height: 150px;
	width: 100%;
}

.banner img {
	margin-left: 15px;
}

/*///////////////*/
/*/// BUTTONS ///*/
/*///////////////*/

.two_btn_welcome {
    margin-top: 15%;
    text-align: center;
}

.two_btn {
    margin-top: 5%;
    text-align: center;
}

.one_btn{
/*PROBLEM: THIS POSITION ISNT WORKING, NEED TO HAVE IT STAY IN ONE PLACE*/
  position: absolute;
  z-index: 2;
  margin-top: 15%;
  margin-left: 15%;
}

.two_btn button, .two_btn_welcome button{
    margin-left: 5%;
    margin-right: 5%
}

.one_btn button{
    margin: 0 auto;
    display: block;
}

.log_btn{
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border: solid 1px #981e32;
    background-color: #981e32;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: normal;
    color: #ffffff;
}

#update_csv_btn{
  width: 210px;
}
#download_csv_btn{
  width: 240px;
}
/*///////////////*/
/*/// Titles ////*/
/*///////////////*/

#admin_portal_title{
  margin-top: 15%;
  margin-bottom: 100px;
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: center;
  color: #981e32;

}

#import_csv_title{
    margin-top: 15%;
    margin-bottom: 5%;
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: center;
    color: #981e32;
}

#log_title{
    margin-top: 15%;
    margin-bottom: 0;
  	font-family: 'Roboto', sans-serif;
  	font-size: 60px;
  	font-weight: bold;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: 1.22;
  	letter-spacing: normal;
  	text-align: center;
  	color: #981e32;
}

#log_subtitle{
  margin-top: 0;
  margin-bottom: 15%;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: center;
  color: #981e32;
}


#sign_in_title{
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: center;
    color: #981e32;
    margin-top: 90px;
}

#sign_out_title{
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #981e32;
    margin-top: 30px;
    margin-bottom: 30px;
}

#download_csv_title{
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: center;
    color: #981e32;
    margin-top: 50px;
    margin-bottom: 10px;
}

/*//////////////////////////*/
/*/// Sign-Out Specifics ///*/
/*//////////////////////////*/

#comments{
  width: 350px;
  height: 200px;
  border-radius: 5px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  margin: 0 auto;
  display: block;
  padding: 10px;

  font-size: 16px;
  border-width: 0px;
}

/*/////////////////*/
/*// CSV styling  /*/
/*/////////////////*/

#import_instructions{
        font-size: 20px;
        margin-bottom: 5%;
}

#files{
  display: none;
}

#files_label{
  margin: 0 auto;
  display: block;
  padding-top: 5px;
  font-family: 'Roboto', sans-serif;
  width: 210px;
  /* font-weight: lighter; */
}

#submit_csv{
  margin-left: 29%;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 5%;
  display: block;
  font-family: 'Roboto', sans-serif;
}

@media screen and (max-width:1024px) {
  #submit_csv{
    margin-left: 36%;
  }
}

/*////////////////////*/
/* Csv Download Table */
/*////////////////////*/
#csv-download-table{
        margin: auto;
        width: 500px;
        text-align: center;
}
#csv-download-table tr,th {
        height: 30px;
}
#csv-download-table tr:nth-child(even) {
        background-color: #f2f2f2;
}
#csv-download-table tr:nth-child(odd) {
        background-color: white;
}

#download_csv_wrapper {
        overflow: scroll;
        height: 417px; /* == the height of the grey box - the space taken by the title */
}
/*/////////////////*/
/*// Admin Login //*/
/*/////////////////*/
.admin_login {
  /*the container must be positioned relative:*/
  border-radius: 5px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;

  width: 350px;
  position: relative;
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
}
.admin_login input {
  border-radius: 5px;
  border: 1px solid transparent;
  background-color: #ffffff;
  padding: 10px;
  font-size: 16px;
}

.admin_login input[type=text] {
  width: 100%;
}

/*//////////////////*/
/*// Autocomplete //*/
/*//////////////////*/

/* Modified from https://www.w3schools.com/howto/howto_js_autocomplete.asp */
.autocomplete {
  /*the container must be positioned relative:*/
  border-radius: 5px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;

  width: 350px;
  position: absolute;
  display: block;
  margin: 0 auto;

  z-index: 3;
}
.autocomplete input {
  border-radius: 5px;
  border: 1px solid transparent;
  background-color: #ffffff;
  padding: 10px;
  font-size: 16px;
}

.autocomplete input[type=text] {
  width: 100%;
}

.autocomplete-list {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-list div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: #d4d4d4 !important;
}

.one-item {
  font-size: 16px;
  border-radius: 5px;
  padding: 3px;
  padding-top: 11px;
  height: 40px;
}

.one-item:hover {
  border-radius: 5px;
  background-color: #d4d4d4;
  cursor: pointer;
}

/* Wrapper for dropdown menu on signin page */
.dropdownWrapper {
  position: relative;
  left: 25%;
  top: 50%;
}

/*////////////*/
/*// Select //*/
/*////////////*/

/* Modified from https://www.w3schools.com/howto/howto_custom_select.asp */

.sign_out_activities {
  font-family: 'Roboto', sans-serif;
  width: 350px;
  border-radius: 5px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;

  position: relative;
  margin: 20px auto;
}
.sign_out_activities select {
  border-radius: 5px;
  display: none; /*hide original SELECT element:*/
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: black transparent transparent transparent;
}
/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent black transparent;
  top: 7px;
}
/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

.select-selected {
  background-color: #ffffff;
  border-radius: 5px;

  color: grey;
}



/*style items (options):*/
.select-items {
    color: black;
  position: absolute;
  background-color: #ffffff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}
/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 1024px) {
  .sign_out_activities {
    width: 40vw;
    height: 3vw;
  }
  .grey_container {
    height: 50vh;
  }
}