$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

#CANCEL {
	display: none;
}

#VNAME_INPUT {
	display: none;
}

#VDATE_INPUT {
	display: none;
}

#VPROJ_INPUT {
	display: none;
}

#WCOMM_INPUT {
	display: none;
}

#OCOMM_INPUT {
	display: none;
}

#HOURS_INPUT {
	display: none;
}